Django

# for APIs
djangorestframework

gunicorn[eventlet]

# PostgreSQL driver
psycopg

# money fields (note: can add exchange rate support if needed)
django-money

pdfminer.six

# our ledger implementation
django-ledger

pyYAML
