Django
django-extensions
djangorestframework
gunicorn[eventlet]
psycopg2-binary
# money fields (note: can add exchange rate support if needed)
django-money
pdfminer.six
# our ledger implementation
django-ledger
pyYAML
